*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    --black:#0D114F;
    --white:#FAFAFA;
    --red: #E83F5B;
    --light-blue:#E0ECFF;
    --blue: #3485FF;
    --background: #F6FAFF;
    --overlay: #040911;
    --icons-detail: #A5B0C1;

    --gre-blue: #A1B2CD;
    --gre-light: #E5EAF1;
    --gre-dark: #4DSE77;

    

}